<launch>

 <!-- Input Earth's Radius (in meters) at current location -->
 <!-- Springville UT: 6370651 -->
 <!-- Webster Field MD: 6370027 -->
 <arg name="R_earth" value="6370651" />

 <node name="state_image_writer" pkg="sniper_cam" type="state_image_writer.py">
 </node>

 <node name="sort_and_locate_interface" pkg="sniper_cam" type="sniper_geo_locator.py" output="screen">
	<param name="radius_earth" value="$(arg R_earth)" />
 </node>


</launch>
