<launch>

 <!-- set the onboard camera frame rate -->
 <arg name="frame_rate" value="15" />

 <node name="pointgrey_camera" pkg="pointgrey_camera_driver" type="camera_node">
	<param name="frame_rate" value="$(arg frame_rate)" />
  <param name="auto_shutter" value="false" />
  <param name="shutter_speed" value="0.01" />
  <param name="format7_color_coding" value="raw8" />
 </node>

 <node name="state_image_stamper" pkg="sniper_cam" type="image_stamper.py">
	<param name="frame_rate_in" value="$(arg frame_rate)" />
 </node>


</launch>
